*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fuente: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    --sombras:0 0 6px #00000080;
    
    --colorSubtitulo: #8570b4;
}
body {
    font-family:var(--fuente) ;
}
.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}
.header{
    height: 30vh;
    background-image: linear-gradient(120deg, #a4bffe80 0%, #f6808480 100%),
    url(../views/img/compras.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.head {
    padding: 0;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.menu_principal {
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: var(--sombras);
}

.titulo {
    font-size: 30px;
    margin-bottom: 15px;
}

.frase {
    font-size: 20px;
    font-weight: 200;
}

/* Main */
.subtitulo {
    text-align: center;
    margin-top: 10px;
    font-weight: 100;
    color: var(--colorSubtitulo);
    margin-bottom: 10px;
    font-size: 40px;
}

.formulario{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.formulario img{
    width: 40%;
}
.lista-formulario{
    width: 45%;
}
.opcion-formulario{
    margin-bottom: 20px;
}
.lable-formulario{
    margin-bottom: 7px;
    color: var(--colorSubtitulo);
}
.numero{
    display: inline-block;
    background-image: linear-gradient(120deg, #a4bffe 0%, #f68084 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

.n-entrada{
    border-radius: 15px;
    margin: 10px 5px;
    padding: 5px;
    border-color: var(--colorSubtitulo);
}
.parte2-form{
    font-family: var(--fuente);
    background: var(--colorSubtitulo);
    box-shadow: 5px 5px 14px 1px rgb(0 0 0 / 20%);
    border:0;
    outline: 0;
    border-radius: 15px;
    padding: 2px 10px;
    margin-top: 5px;
    color: #fff;
    justify-content: center;
    align-items: center;
}


/* Footer */
footer{
    background: var(--colorSubtitulo);
    padding-bottom: 0.1px;
}
.footer-contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}
.informacion-footer{
    width: 40%;
    color: #fff;
}
.brand{
    font-weight: 400;
    font-size: 30px;
}
.brand+p{
    font-weight: 400;
    
}
.footer-imagen{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.social-media-icon:hover{
    background: #fff;
    color: var(--colorSubtitulo);
}
.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}
.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

