*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fuente: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    --sombras:0 0 6px #00000080;
    
    --colorSubtitulo: #8570b4;
}

body {
    font-family:var(--fuente) ;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.header{
    height: 100vh;
    background-image: linear-gradient(120deg, #a4bffe80 0%, #f6808480 100%),
    url(../views/img/compras.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head {
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.menu_principal {
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: var(--sombras);
}

.menu-navegacion {
    position: fixed;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100%;    
    background-image: linear-gradient(120deg, #f193fb 0%, #f5576c 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: var(--sombras);
    /* Ocultar el menu */
    transition: transform .3s ease-in-out;
    transform: translate(110%);
}

.spread {
    transform:translate(0);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}

.titulo {
    font-size: 60px;
    margin-bottom: 15px;
}

.frase {
    font-size: 25px;
    font-weight: 300;
}

/* Main */
.subtitulo {
    text-align: center;
    font-weight: 300;
    color: var(--colorSubtitulo);
    margin-bottom: 40px;
    font-size: 40px;
}
.contenedor-home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-home img {
    width: 40%;
}

.lista-home {
    width: 45%;
}

.opcion-home{
    margin-bottom:  20px;
}

.num-opcion{
    margin-bottom: 7px;
    color: var(--colorSubtitulo);
}
.numero{
    display: inline-block;
    background-image: linear-gradient(120deg, #a4bffe 0%, #f68084 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

.principales-servicios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicios{
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
}

.contenedor-servicios img{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.contenedor-servicios a{
    color: #000;
    text-decoration: none;
}

.n-servicio{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}
/* Footer */
footer{
    background: var(--colorSubtitulo);
    padding-bottom: 0.1px;
}
.footer-contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}
.informacion-footer{
    width: 40%;
    color: #fff;
}
.brand{
    font-weight: 500;
    font-size: 40px;
}
.brand+p{
    font-weight: 500;
    
}
.footer-imagen{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.social-media-icon:hover{
    background: #fff;
    color: var(--colorSubtitulo);
}
.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}
.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}
